@import "tailwindcss";

:root {
	--background: #f2f1ed;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-poppins: var(--font-poppins);
	--font-playfair: var(--font-playfair);
}

body {
	background: var(--background);
	font-family: var(--font-poppins), sans-serif;
}

.homepage {
	background-image: url(/images/homepage/homepageBg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.aboutpage {
	background-image: url(/images/about/aboutBg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.productpage {
	background-image: url(/images/product/productBg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.reviewpage {
	background-image: url(/images/reviewpage/reviewBg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}